<div class="container">
  <div class="row">
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
  </div>
  <div class="row">
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
  </div>
  <div class="row">
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
  </div>
  <div class="row">
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
    <app-card class="card"></app-card>
  </div>
</div>
